<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <h1>Admin Dashboard</h1>
        
        <div>
            <h2>All Keys</h2>
            <table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Key</th>
                    <th>Status</th>
                    <th>Expiration Date</th>
                  </tr>
                </thead>
                <tbody>
                  {% for access_key in access_keys %}
                  <tr>
                    <td>{{ access_key.id }}</td>
                    <td>{{ access_key.key }}</td>
                    <td>{{ access_key.status }}</td>
                    <td>{{ access_key.expiry_date }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <hr>
            <h2>Revoke key here</h2>
            <form method="post">
                {% csrf_token %}
                {{ revoke_form.as_p }}
               <button type="submit">Revoke</button>
            </form>
            <hr>
            <h2>Check Active Key for School</h2>
            <form method="get" action="{% url 'active_key_api' %}">
                {% csrf_token %}
                <label for="email">School Email:</label>
                <input type="email" id="email" name="email" required>
                <button type="submit">Check Active Key</button>
            </form>
    </body>
</html>