<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h1>IT Personnel Dashboard</h1>
        <div>
            <h2>Purchase access key here</h2>
            <button {% url 'accessKeyPurchase' %}>BUY!!</button>
        </div>
        <div>
        <h2>Access Key List</h2>
        <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Key</th>
                <th>Status</th>
                <th>Expiration Date</th>
              </tr>
            </thead>
            <tbody>
              {% for access_key in access_keys %}
              <tr>
                <td>{{ access_key.id }}</td>
                <td>{{ access_key.key }}</td>
                <td>{{ access_key.status }}</td>
                <td>{{ access_key.expiry_date }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        
    </body>
</html>